@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3498db;
  color: white;
  padding: 15px 30px;
  text-decoration : none;
  cursor : pointer;
}
.header a {
	color :white;
	text-decoration : none;
	font-weight :bold;
	font-size : 20px;
	
}
a {
	text-decoration : none;
	color : inherit;
}
a:hover {
	background: #2980b9;
}
.logo {
  font-size: 24px;
}

.search {
	width : 40%;
  	padding: 8px;
 	border-radius: 4px;
  	border: none;
}

.cart {
  cursor : pointer;
  
}



/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 30px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product h3 {
  margin: 10px 0;
}

.product button {
  background: #3498db;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.product button:hover {
  background: #2980b9;
}

/* FOOTER */
.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
