@charset "UTF-8";
 @charset "UTF-8";


body {
	
	margin: 0;
	height: 100vh;
	font-family: Arial, sans-serif;
	background: linear-gradient(135deg, #74ebd5, #9face6);
	display: flex;
	justify-content: center;
	align-items: center;

}

.register-box {
	
	background: white;
	padding: 35px 45px;
	border-radius: 12px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
	width: 350px;
	
}

.register-box h2 {
	text-align: center;
	margin-bottom: 25px;
	color: #333;
}

label {
	font-weight: bold;
}
#errorMsg{
	height : 15px;
	width : 100%;
	margin-bottom :10px;
	border : 1px solid black;
	color : red;
	
}
input {
	width: 100%;
	padding: 10px;
	margin: 8px 0 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	width: 100%;
	padding: 10px;
	border: none;
	background: #3498db;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background: #2d83c5;
}

.login-link {
	text-align: center;
	margin-top: 15px;
}

.login-link a {
	color: #3498db;
	text-decoration: none;
	font-weight: bold;
}

