@charset "UTF-8";
body {
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items: center;
	font-family : Arial,sans-serif;
	
}
img {
	border-radius : 10px;
}
.container .details ul li pre {
	font-family : Arial,sans-serif;
}
.buttons {
	width : 500px;
	height : 150px;
	
	display: flex;
	justify-content : center;
	flex-direction : column;
	align-items: center;
	gap : 20px;
}
button {
	width : 300px;
	height: 50px;
	background :  #0056b3;;
	color : white;
	border-radius : 10px;
	border : none;
	outline : none;
	cursor : pointer;
}
