<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="alien" class ="com.techouts.Alien"  autowire="byName">
        <property name = "age" value = "20"/>
<!--        <property name="laptop" ref = "laptop"/>-->

<!--       <constructor-arg  name = "salary" value="30"/>-->
<!--       <constructor-arg ref = "laptop"/>-->
<!--       <constructor-arg name = "age" value="20"/>-->

   </bean>
    <bean id = "com1" class = "com.techouts.Laptop" >
    </bean>
    <bean id = "com" class = "com.techouts.Desktop">
    </bean>

</beans>